@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local Fonts */
@font-face {
  src:
    url('/fonts/Roslindale/fonts/RoslindaleText-BoldItalic-Testing.woff2') format('woff2'),
    url('/fonts/Roslindale/fonts/RoslindaleText-BoldItalic-Testing.woff') format('woff');
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  font-named-instance: 'Bold Italic';
}

@font-face {
  font-family: 'Roslindale';
  src:
    url('/fonts/Roslindale/fonts/RoslindaleDeckNarrow-SemiBoldItalic-Testing.woff2') format('woff2'),
    url('/fonts/Roslindale/fonts/RoslindaleDeckNarrow-SemiBoldItalic-Testing.woff') format('woff');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  font-named-instance: 'SemiBold Italic';
}

@font-face {
  font-family: 'Roslindale';
  src:
    url('/fonts/Roslindale/fonts/RoslindaleText-MediumItalic-Testing.woff2') format('woff2'),
    url('/fonts/Roslindale/fonts/RoslindaleText-MediumItalic-Testing.woff') format('woff');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  font-named-instance: 'Medium Italic';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: var(--background-primary);
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[tabindex] {
  outline: none !important;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e151c;
  height: 100px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f676e;
  border-radius: 5px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  &::-ms-expand {
    display: none;
  }
  outline: none;
}

:root {
  --background-primary: #1e1b1e;
  --background-secondary: #2c2c2c;
  --text-color-primary: #f6f6f6;
  --text-color-secondary: #ededed;
  --text-color-tertiary: #d6d6d6;

  --brand-gradient: linear-gradient(88.29deg, #ffb8ff 1.56%, #b9cdff 94.54%);

  --accent-color-primary: #e85cff; /* Accent/4 */
  --accent-color-secondary: #735cff; /* Accent/2 */
  --accent-color-tertiary: #5c9dff; /* Accent/1 */
  --accent-success: #5cffa7; /* Accent/3 */
  --accent-error: #ff5c5c; /* Accent/5 */

  /* TODO After Confirmation from Design System */
  --button-color-primary: #ffffff;
  --button-color-secondary: #ecfdff;
  --button-color-tertiary: var(--background-secondary);
  --button-color-confirmed: #1bbe00;

  --max-width: 83.5em;
  --max-width-bleed: 90%;
  --max-width-narrow: 50em;
}
