@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* background:
    url('https://res.cloudinary.com/dmvdbpyqk/image/upload/v1728490468/Noise_Texture_wexi5v.png')
      50% / cover no-repeat,
    linear-gradient(180deg, #0c1425 0%, #00050f 100%); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
