.mySwiper {
  width: 100%;
  height: 100%;
  padding-top: 90px;
}
.mySwiper3 {
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

.mySwiper4 {
  width: 100%;
  height: 100%;
  padding-top: 90px;
}

.mySwiper2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex: 0 0 auto;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mySwiper .swiper-slide-active {
  transform: translateY(-80px);
  opacity: 1;
  z-index: 55;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mySwiper .swiper-slide-next {
  opacity: 0.5;
  transform: translateX(-70px);
  z-index: 0;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mySwiper .swiper-slide-prev {
  opacity: 0.5;
  transform: translateX(70px);
  z-index: 0;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mySwiper .swiper-slide-prev-prev,
.mySwiper .swiper-slide-next-next {
  display: none;
}

.mySwiper3 .swiper-slide-active {
  transform: translateY(-80px);
  opacity: 1;
  z-index: 55;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mySwiper3 .swiper-slide-next {
  opacity: 1;
  transform: translateX(-70px);
  z-index: 0;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mySwiper3 .swiper-slide-prev {
  opacity: 1;
  transform: translateX(70px);
  z-index: 0;
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mySwiper3 .swiper-slide-prev-prev,
.mySwiper3 .swiper-slide-next-next {
  display: none;
}
